@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

.main {
  display: flex;
  flex-direction: column;

  flex: 1 0 auto;

  align-items: center;
}

#container {
  /*width: 1024px;*/
  min-height: 200px;
}

.logo {
  width: 20px;
  height: 20px;
}

.prose {
  max-width: none;
}