.console {
  font-size: 14px;

  .console-nav {
    height: 100vh;
    width: 200px;

    padding: 10px 20px;

    border-right: 1px solid #EFEFEF;

    .items {
      gap: 4px;

      .nav-item {
        line-height: 36px;
        cursor: pointer;
        padding: 0 10px;
        border-radius: 8px;

        color: var(--gray-9);
      }

      .active {
        background-color: var(--gray-3);
      }
    }
  }

  .console-router {
    padding: 10px;
  }
}