.ntr-main-toolbar {
  display: flex;
  flex-direction: row;

  background-color: rgb(255, 255, 255);

  font-size: 12px;

  .layout {
    display: flex;
    flex-direction: row;

    .item {
      display: flex;
      flex-direction: row;

      user-select: none;
      cursor: pointer;

      border-radius: 5px;

      .button {
        display: flex;
        flex-direction: row;

        flex: 1 0 auto;

        justify-content: center;
        align-items: center;

        padding: 6px 6px;
        gap: 6px;

        color: #666;

        .icon {
          display: flex;

          margin-top: -3px;
        }

        .color-icon {
          display: grid;
          flex-direction: column;

          justify-content: center;
          align-items: center;

          height: 16px;

          .color-line-component {
            display: flex;

            align-self: flex-end;
            justify-self: flex-end;


            width: 14px;
            height: 2px;
            border: 1px solid #333;
          }
        }
      }

      .expand {
        display: flex;
        align-items: center;

        .icon {
          display: flex;
          height: 100%;

          padding: 0 4px 0 4px;

          justify-content: flex-end;
          align-items: center;

        }
      }

    }

    .active {
      background-color: #F2F4F5;
    }

    .separator {
      width: 1px;
      // height: 20px;

      padding: 0;
      margin: 4px 6px;

      background-color: #E0E0E0;
    }

  }

  .simple-layout {
    border-bottom: 1px solid #E0E0E0;
    gap: 6px;
    padding: 8px 0;
  }
}