.ntr-main-toolbar {
  display: flex;
  flex-direction: row;

  background-color: rgb(255, 255, 255);

  font-size: 12px;

  .layout {
    display: flex;
    flex-direction: row;

    flex: 1 0 auto;

    gap: 6px;
    padding: 8px 0px;

    .item {
      display: flex;
      flex-direction: row;

      user-select: none;
      cursor: pointer;

      border-radius: 5px;

      .button {
        display: flex;
        flex-direction: row;

        flex: 1 0 auto;

        justify-content: center;
        align-items: center;

        padding: 6px 6px;
        gap: 6px;

        color: #666;

        .icon {
          margin-top: -3px;
        }
      }

      .expand {
        display: flex;
        align-items: center;

        .icon {
          display: flex;
          height: 100%;

          padding: 0px 4px 0px 4px;

          justify-content: flex-end;
          align-items: center;

        }
      }

    }

    .active {
      background-color: #F2F4F5;
    }

    .separator {
      width: 1px;
      // height: 20px;

      padding: 0px;
      margin: 4px 0px;

      background-color: #E0E0E0;
    }

  }

  .simple-layout {
    border-bottom: 1px solid #E0E0E0;
  }
}