@import './ui/MessageBox/MessageBox.scss';
@import "@nutriadoc/classes/dist/style.css";
@import '@nutriadoc/components/dist/style.css';

body:lang(zh) {
 font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif
}

body:lang(en) {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

blockquote {
  background: #fafafa;
  border-left: 3px solid #333;
}

.ql-editor blockquote {
  padding: 0.5em;
}

.format-painter-cursor {
  cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACzSURBVHgBnZLBDcIwEAQP0YBLcAkpIU+edAAlmApIB6QD3AElUAcv8+RHCWFPrKXIj+jOK40SS5lz5LVIfxIo0pEAnmABd3EmctcHB0SPPFI+gwwmceQEvmBYDTLnSiFyXf+iS76J4+COjdyuNxObj+t6EGO0psT3QHmyiIG7lGbYbJGrqHXpTRv5zGJMoVR31UHJKmtd63qyOLrWbhcKyiyOuvbgBXbgIP9D/IALeFsG/ACAWCv5jMu6RAAAAABJRU5ErkJggg==') 0 16, auto;
}


.inline-toolbar {
  display: flex;
  flex-direction: row;

  position: absolute;

  align-items: center;

  background-color: var(--background-color);

  font-size: 12px;
  gap: 5px;
  padding: 2px;

  .active {
    background-color: var(--hover-background-color);
  }

  .inline-toolbar-item {
    padding: 6px;
    border-radius: 4px;

    .svg, .svg svg {
      width: 14px;
      height: 14px;

      color: var(--icon-color);
    }
  }

  .separator {
    width: 1px;
    height: 16px;
    background-color: var(--separator-color);
  }
}

.link-container {
  .default {
    background-color: var(--gray-2);
    border: 1px solid var(--gray-7);
    border-radius: 4px;
    padding: 6px 14px;

    cursor: pointer;
  }

  .primary {
    background-color: rgb(0, 120, 212);
    border: none;
    color: white;
    border-radius: 4px;
    padding: 6px 14px;

    cursor: pointer;
  }
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.hidden {
  //visibility: hidden;
  display: none;
}

.visible {
  //visibility: visible;
}

.ntr-box {
  display: flex;
  flex-direction: column;

  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05), 0px 0px 1px 0px rgba(0, 0, 0, 0.20);
}


.ql-code-block-container .ql-ui {
  display: block;
  position: relative;

  margin-bottom: 8px;

  width: 220px;

  .language-button {
    display: flex;
    flex-direction: row;

    align-items: center;

    color: var(--gray-8);

    gap: 6px;
    padding: 2px 8px;
    border-radius: 4px;
    cursor: pointer;

    div {
      display: flex;

      justify-content: center;
      align-items: center;

      svg {
        width: 10px;
        height: 10px;
      }
    }
  }

}

.ql-code-block-container .ql-ui .active {
  background-color: var(--gray-4);
  width: fit-content;
}

.ql-code-block-container {
  background-color: var(--gray-2);
  padding: 10px;
}

.language-menu {
  font-size: 12px;
  color: var(--gray-9);
}

.language-menu {
  width: 240px;

  .search {
    display: flex;

    margin: 10px 14px 10px 14px;

    input {
      display: flex;
      flex: 1 0 auto;
    }
  }
}

.ntr-menu {
  display: flex;
  flex-direction: column;

  max-width: 100%;

  .ntr-menu-item {
    flex: 1 0 auto;
  }
}

.nutria {
  width: 100%;

  ol, li {
    padding-left: 0;
  }

  li {
    :before {
      font-size: 1.5em;
      width: 3em;
      line-height: 1;
    }
  }
}

.nutria div[contenteditable] {
  outline: none;
}

.inline-container {
}