.ntr-message-box {
  width: fit-content;
  flex-direction: column;

  .title-bar {
    display: flex;
    flex-direction: row;

    align-content: center;

    padding: 15px 10px;

    .title-text {
      display: flex;

      flex: 1 0 auto;
      font-size: 16px;
      font-weight: bold;
    }

    .expand-collapse {
      display: flex;
      flex-direction: column;

      cursor: pointer;
    }
    .expand-collapse > div, .expand-collapse > div > svg {
      width: 12px;
      height: 12px;
    }
  }

  .message-view {
    padding: 20px;
  }

  .ntr-simple-message-box {
    display: flex;
    flex-direction: column;

    .container {
      background-color: var(--gray-3);
      min-height: 120px;
    }
  }

  .ntr-tiny-message-box {
    display: flex;
    flex-direction: row;

    gap: 15px;
    padding: 8px 8px;

    .number {
      display: inline;
      background: var(--gray-2);

      border-radius: 8px;
      padding: 2px 10px;

      .text {
        font-size: 10px;
      }
    }

    .expand, .expand > div {
      display: flex;
      flex-direction: column;

      justify-content: center;
      align-items: flex-end;

      cursor: pointer;

      width: 20px;

      svg {
        width: 10px;
        height: 10px;
        color: var(--gray-8);
      }
    }
  }

  .upload-message-view {

    display: flex;
    flex-direction: row;

    gap: 16px;

    .avatar, .avatar > img {
      width: 28px;
      height: 28px;

      border-radius: 28px;
    }

    .body {
      display: flex;

      flex: 1 0 auto;
    }
  }
}

.model-0 {
  width: fit-content;
}

.model-1, .model-2 {
  width: 410px;
  max-height: 600px;
}