.login {

  display: flex;
  flex-direction: column;
  position: relative;

  gap: 20px;
  width: 300px;
  padding: 20px;

  .actions {
    display: flex;
    flex: 1;

    justify-content: right;
  }
}