:root {
  --background-color: #FFFFFF;
  --hover-background-color: #F2F4F5;
  --separator-color: #E0E0E0;
  --icon-color: #333;

  --gray-2: #fafafa;
  --gray-3: #f5f5f5;
  --gray-4: #f0f0f0;
  --gray-7: #8c8c8c;
  --gray-8: #595959;
  --gray-9: #434343;
  --gray-10: #262626;
}